@import '../components/shared';

html,
body {
  color: #444;
  font-size: 16px;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
button,
submit {
  border: none;
}

button:focus {
  outline: 0;
}

.app {
  text-align: center;

  &__welcome {
    max-width: 30rem;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
  }

  &__header {
    background-color: $color-brand;
    height: 4rem;
    padding: 2rem;
    color: white;
  }

  &__title {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__container {
    margin: 0 auto;
  }
}

.forecast {
  &__header {
    @media (min-width: $breakpoint-tablet) {
      height: 2rem;
    }
    padding: 1rem;
  }
}
