@import '../shared';

.daily-summary {
  background: rgb(240, 249, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(226, 244, 255, 1) 0%,
    rgba(178, 226, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(226, 244, 255, 1) 0%,
    rgba(178, 226, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(240, 249, 255, 1) 0%,
    rgba(226, 244, 255, 1) 0%,
    rgba(178, 226, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#f0f9ff',
      endColorstr='#b2e2ff',
      GradientType=0
    ); /* IE6-9 */

  width: 100%;
  margin: 1rem;
  padding: 1rem 0;

  @media (min-width: $breakpoint-desktop) {
    margin: 1rem;
    width: 100%;
  }

  h1 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    @media (min-width: $breakpoint-desktop) {
      margin: 0 0 1rem 0;
      font-size: 1.4rem;
    }
  }

  h2 {
    font-size: 0.8rem;
    @media (min-width: $breakpoint-desktop) {
      font-size: 1rem;
      margin: 0;
    }
  }

  &__desc {
    color: $color-dark-grey;
    font-size: 0.9rem;
    &--heavy {
      font-weight: bold;
      font-size: 1rem;
      color: $color-very-dark-grey;
    }
  }

  .temperatures {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    margin: 1rem 0 0 0;
    border-top: 1px solid $color-dark-grey;

    &__title {
      font-weight: bold;
      padding: 0.5rem;
    }

    &__body {
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid $color-dark-grey;

      &--flex {
        display: flex;
        justify-content: space-around;
      }
      &--big {
        font-size: 1.4rem;
        font-weight: bold;
      }
      &--small {
        font-size: 1rem;
      }

      .temp {
        &__title {
          font-weight: bold;
          font-size: 0.9rem;
          padding: 0.5rem;
        }
        &__value {
          padding: 1rem 0;
        }

        &__main {
          border-radius: 50%;
          padding: 1rem;
          // background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
