@import '../shared';

.weather-report {
  &__location {
    font-weight: bold;
    padding: 1rem;
    font-size: 1.4rem;
  }

  &__flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
    }

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      margin: 0 auto;
      max-width: 70rem;
    }
  }
}
