//Set response breakpoints
$breakpoint-mobile-small: 420px;
$breakphont-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Colors

$color-brand: rgb(43, 132, 180);
$color-brand-light: rgb(202, 202, 202);
$color-highlight: #f59106;
$color-very-dark-grey: #444;
$color-dark-grey: #888;
$color-mid-grey: #ccc;
