@import '../shared';

.location-selector {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #3498db;
  border-bottom: 1px solid #3498db;
  min-height: 2rem;
  font-size: 0.8rem;

  @media (min-width: $breakpoint-mobile-small) {
    font-size: 1rem;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: center;
    border-top: none;
    border-bottom: none;
  }

  .btn {
    flex-basis: 2rem;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      border-top: 1px solid #3498db;
      border-bottom: 1px solid #3498db;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      flex-basis: initial;
    }

    &:hover {
      text-decoration: none;
      color: #3498db;
    }

    &.selected {
      background-color: #3498db;
      border-top: 1px solid #3498db;
      border-bottom: 1px solid #3498db;
      color: white;
    }
  }
}
